.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-size: 20px;
  font-weight: 700 !important;
}

.el-dropdown-menu__item{
    --el-dropdown-menuItem-hover-fill: transparent;
    --el-dropdown-menuItem-hover-color: #0c53f0;
}

.el-drawer__body{
  --el-drawer-padding-primary: 0;
}
